.pokemon-list {
	height: 100vh;
	width: 250px;
	overflow: scroll;
	padding-left: 30px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hotpink;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li button {
			color: black;
			text-decoration: none;
			font-size: 18px;
			line-height: 28px;
			text-transform: capitalize;
			cursor: pointer;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}