.card {
	position: fixed;
	top: 10%;
	right: calc(50% - 125px);
	transform: translate(50%,0);
	background-color: green;
	width: 300px;
	height: 500px;
	border-radius: 10px;
	h2 {
		text-align: center;
		text-transform: capitalize;
	}
	.img-container {
		position: relative;
		img {
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
			min-height: 400px;
			width: auto;
		}
	}
}